@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
/* Base styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', 'Roboto', sans-serif;
	
}

body {
	color: #AAA;
	background-color: #000;
	line-height: 1.5;
}

section {
	padding: 50px;
	border-bottom: 2px solid #aaa;
}

header {
	padding: 4em 8em;
	text-align: center;
}

/* Heading 1 */
h1 {
	color: #fff;
	font-size: 2.5rem;
	font-weight: 600;
	margin: 0.5em 0 0.2em;
	text-align: center;
}

/* Heading 2 */
h2 {
	color: #DDD;
	font-size: 2rem;
	font-weight: 500;
	margin-bottom: 1em;
}
h1, h2, h3, h4, h5, h6 {
	letter-spacing: 0.05em;
}

/* Paragraph */
p, li {
	font-size: 1rem;
	margin-bottom: 1em;
}

/* Inputs */
input,textarea {
	font-family: inherit;
	padding: 0.5em;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 1rem;
	margin-bottom: 1em;
}

/* Focusing on Inputs */
input:focus, textarea:focus {
	border-color: #ff8c00;
	box-shadow: 0 0 0 3px rgba(255, 140, 0, 0.5);
	outline: none;
}

/* Button */
button {
	background-color: #ff8c00;
	color: #fff;
	padding: 0.6em 1.2em;
	border: none;
	border-radius: 4px;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.1s;
}

/* Button hover effect */
button:hover {
	background-color: #915000;
	transform: translateY(-2px);
}

/* Button active/focus effect */
button:active,
button:focus {
	background-color: #e07b00;
	outline: none;
}

/* List */
ul {
	list-style: none;
	padding-left: 1em;
	margin-bottom: 2em;
}

/* List items */
li {
	margin-bottom: 1em;
	padding-left: 0.5em;
	position: relative;
}

.right {
	float: right;
}

.grey {
	color: #555;
}

/* Modal */
.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #000;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}